@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #252B42;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/*--------------------Header---------*/
.top-header {
  width: 90%;
  height: 12vh;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  font-weight: 700;
  margin: 0 auto;
}

.top-header__title {
  font-size: 3vw;
}

.top-nav {
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
}

.top-nav__sections {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content:space-between;
  font-size: 1vw;
}

.account-login {
  justify-content: space-evenly;
}

.top-nav__sections a {
  text-decoration: none;
  color: inherit;
}


.link-btn {
  text-decoration: none;
  border-radius: 5px;
  background-color: #23A6F0;
  padding: 15px 30px;
  letter-spacing: 0.2px;
  color: inherit;
  font-weight: 700;
}

@media screen and (max-width:700px) {
  .top-header {
    grid-template-columns: 100%;
  }

  .top-header__title {
    font-size: 12vw;
  }
  .top-nav {
    display: none;
  }
}
/*--------------------Welcome page------------------------------------*/
.main-header {
  display: grid;
  width: 100%;
  height: 88vh;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;

}

.main-header__intro {
  width: 573px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}

.top-heading {
  color: #23A6F0;
  font-size: 16px;
  letter-spacing: 0.1px;
}

.main-heading {
  font-size: 58px;
  letter-spacing: 0.2px;
}

.heading-caption {
  font-weight: 400;
}

.main-header__links {
  display: flex;
  align-items: center;
  gap: 10px;
}


.learn-more {
  background:none;
  border: 1px solid #26A6F0;
  color: #23A6F0;
}

.main-header__board {
  position: relative;
}

.main-header__board div {
  margin: 0 auto;
  border: 1.6px solid #FFC7D4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board__1 {
  width: 60vh;
  height: 60vh;
  position: relative;
  animation: spin infinite 8s linear;
}

.board__1::after {
  position: absolute;
  top: -2%;
  content: '';
  width: 3%;
  height: 3%;
  background-color: red;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgb(92, 0, 0),
              -2px -2px 5px rgb(92, 0, 0),
              2px -2px 5px rgb(92, 0, 0),
              -2px 2px 5px rgb(92, 0, 0);
}

.board__circle {
  position: relative;
  width: 66%;
  height: 66%;
}

.board__circle::after {
  position: absolute;
  top: -2%;
  content: '';
  width: 3%;
  height: 3%;
  background-color: red;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgb(92, 0, 0),
              -2px -2px 5px rgb(92, 0, 0),
              2px -2px 5px rgb(92, 0, 0),
              -2px 2px 5px rgb(92, 0, 0);
}


@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.courses {
  
  display: grid;
  justify-content: center;
  grid-template-rows: 20% 80% ;
  gap: 5%;
  height: 100vh;
  padding-top: 20px;
}


.courses-cards {
  display: flex;
  gap: 30px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 12vw;
  border-radius: 5px;
  color: #737373;
}

.product-card__top {
  position: relative;
}
.product-card__top img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}

.sale::after {
  position: absolute;
  top: 20px;
  left: 30px;
  content: 'Sale';
  font-size: 14px;
  font-weight: 700;
  background-color:#E74040;
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  height: 24px;
  padding: 0 10px;
}

.product-card__buttons {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.product-card__buttons button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  color: #000;
}

.product-card__buttons button:hover i {
  transform: scale(1.3);
}

.product-card__details {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.product-card__language {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  background-color: #252B42;
  border-radius: 20px;
  padding: 4px;
  color: #fff;
}

.fa-star {
  color:#FFCE31 ;
}
.product-card__details h2 {
  font-size: 16px;
  color: #252B42;
}

.price {
  font-size: 16px;
  color: #40BB15;
  font-weight: 700;
}
.old-price {
  text-decoration: line-through;
  color: #737373;
}

.enroll {
  text-decoration: none;
  border: 1px solid #23A6F0;
  border-radius: 37px;
  color: #23A6F0;
  font-size: 14px;
  font-weight: 700;
  width: fit-content;
  padding: 10px 20px;
  align-self: center;
  margin-bottom: 3px;
}

.reviews{
  padding-top: 20px;
  width: 80vw;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-rows: 20% 80%;
  justify-content: center;
  align-items: center;
}

.student-review-cards {
  width: 80%;
  height: fit-content;
  display: flex;
  gap: 33px;
  margin: 0 auto;
}

.student-card {
  border-radius: 15px;
  padding: 30px;
  margin: 0 auto;
  color:#737373;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.student-card img {
  border-radius: 50%;
}

.student-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

}

.student-details__name {
  font-size: 16px;
  font-weight: 700;
}

.student-details__job {
  font-size: 14px;
  font-weight: 700;

}


/*-----------Footer---------------------------*/

.contact {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  background-color: #fff;
  color: #737373;
}

.contact div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  font-weight: 700;
}

.contact h1 {
  color: #252B42;
  font-weight: 700;
  font-size: 24px;
}

.contact p {
  font-weight: 400;
  width: 60%;
}
.contact ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact a {
  text-decoration: none;
  color: inherit;
}

#social-media-links {
  flex-direction: row;
  font-size: 22px;
  color: #23A6F0;
  gap: 20px;
}